<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta th:if="${enableSsl}" http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
    <title th:text="${apiTitle}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{{baseUrl}/swagger-ui.css(baseUrl=${baseUrl})}">
    <link rel="icon" type="image/png" th:href="@{{baseUrl}/favicon-32x32.png(baseUrl=${baseUrl})}" sizes="32x32"/>
    <link rel="icon" type="image/png" th:href="@{{baseUrl}/favicon-16x16.png(baseUrl=${baseUrl})}" sizes="16x16"/>
    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            background: #fafafa;
        }




    </style>
</head>

<body>
<div id="swagger-ui"></div>

<script th:src='@{{baseUrl}/swagger-ui-bundle.js(baseUrl=${baseUrl})}' type='text/javascript' charset="UTF-8"></script>
<script th:src='@{{baseUrl}/swagger-ui-standalone-preset.js(baseUrl=${baseUrl})}' type='text/javascript'
        charset="UTF-8"></script>
<script>
    window.onload = function () {
        const url = '[[${getApisUrl}]]';

        // Begin Swagger UI call region
        const ui = SwaggerUIBundle({
            url: url,
            dom_id: '#swagger-ui',
            deepLinking: true,
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIStandalonePreset
            ],
            plugins: [
                SwaggerUIBundle.plugins.DownloadUrl
            ],
            layout: "StandaloneLayout"
        })
        // End Swagger UI call region

        window.ui = ui
    }




</script>
</body>
</html>
